[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.115.12"
uvicorn = "==0.34.0"
pydantic = "==2.10.6"
pydantic-settings = "==2.8.1"
gunicorn = "23.0.0"
cachetools = "5.5.2"
pytest = "8.3.5"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.11"
